[submodule ".vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = .vim/bundle/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule ".vim/bundle/repos/github.com/fatih/vim-go"]
	path = .vim/bundle/repos/github.com/fatih/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/repos/github.com/rizzatti/dash.vim"]
	path = .vim/bundle/repos/github.com/rizzatti/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".vim/bundle/repos/github.com/scrooloose/nerdtree"]
	path = .vim/bundle/repos/github.com/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/repos/github.com/elixir-lang/vim-elixir"]
	path = .vim/bundle/repos/github.com/elixir-lang/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/repos/github.com/tpope/vim-fugitive"]
	path = .vim/bundle/repos/github.com/tpope/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/repos/github.com/gregsexton/gitv"]
	path = .vim/bundle/repos/github.com/gregsexton/gitv
	url = https://github.com/gregsexton/gitv.git
